.hvr-bubble-float-left{
    line-height: 1.42857143;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 20px 0px;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}

 